<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/category">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Manage Category</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/news">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Manage News</span>
        </a>
      </li>
    </ul>
  </nav>